### 1. For the x and y below: what function tells us what type they are? What function tells us how many elements they contain? <br>
    • x = [1, 2, 3]
    • y = 'bootcamp'
    • z = x + y

In [2]:
x = [1, 2, 3]
y = 'bootcamp'

In [5]:
type(x)

list

In [6]:
type(y)

str

In [7]:
# Cannot be execute because you cannot add a string to a list, therefore, no type.
z = x + y

TypeError: can only concatenate list (not "str") to list

In [9]:
len(x)

3

In [10]:
len(y)

8

### 2. What value does each of these comparisons have?
    a) 1>=0 boolean True
    b) 1>=1 boolean True
    c) 1>1 boolean False
    d) 1==1 boolean True
    e) 1==1.0 boolean True
    f) ‘Spencer’== ‘Spencer’ boolean True
    g) 2**3 > 3**2 boolean False
    h) 1>=0 or 1<=2 boolean True
    i) 1>=0 and 1<=2 boolean True

In [11]:
# a
1 >= 0

True

In [12]:
# b
1 >= 1

True

In [13]:
# c
1 > 1

False

In [15]:
# d
1 == 1

True

In [17]:
# e
1 == 1.0

True

In [19]:
# f 
'spencer' == 'spencer'

True

In [20]:
# g
2**3 > 3**2

False

In [21]:
# h
1>=0 or 1<=2

True

In [22]:
# i
1>=0 and 1<=2

True

### 3. Does this code run without error? If so, what does it produce? If no, how would you correct it?
    if 2>1:
        print (‘Yes, 2 is still greater than 1’)

In [25]:
if 2 > 1:
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

The above code runs without an error, and it prints out the statement because 2>1 is True.

### 4. What is the result of running this code?
    cond = True
    if cond:
        x = ‘Chase’
    else:
        x = ‘Dave’
    print(x)

In [26]:
cond = True
if cond:
    x = 'Chase'
else:
    x = 'Dave'
print(x)

Chase

The result of this code prints out "Chase", because cond was set to "True", and if cond is True, x is assigned with "Chase".

### 5. Suppose we have two lists, x = [1,2,3,4] and y= [‘x’, ‘y’, ‘z’]. Fix the code below to determine which has more elements:
    if <insert expression> :
        print(‘x has more’)
    else:
        print(‘y has at least as many’)

In [27]:
x = [1, 2, 3, 4]
y = ['x', 'y', 'z']

In [28]:
if len(x) > len(y):
    print('x has more')
else:
    print('y has at least as many')

x has more

### 6. Explain in words what slicing does.
    Literally like the world "slicing", it slices lists, tuples and strings. Also slicing objects, you can access specific part of the object. For example, if there is a list of [1, 2, 3, 4], you can slice the list by using index number. Examples are:

In [34]:
lst = [1, 2, 3, 4]
lst[1:3]

[2, 3]

In [35]:
word = 'hello'
word[1:2]

'e'

In [36]:
word[3]

'l'

### 7. How would you extract (slice) the first element (the integer 1) from the list x below? The last element? All but the last element?
    • x = [1, 2, 3, 4, 5]

In [37]:
x = [1, 2, 3, 4, 5]

In [38]:
# first element
x[0]

1

In [39]:
# last element
x[-1]

5

In [40]:
# all but the last element
x[0:4]

[1, 2, 3, 4]

### 8. Use slicing to extract each word from the below. Suggestion: Number every character in the sentence by hand.
    • sentence = ‘This is a sentence; please slice it.’

In [41]:
sentence = 'This is a sentence; please slice it.'

In [44]:
sentence[0:4]

'This'

In [47]:
sentence[5:7]

'is'

In [48]:
sentence[8]

'a'

In [51]:
sentence[10:18]

'sentence'

In [52]:
sentence[20:26]

'please'

In [55]:
sentence[27:32]

'slice'

In [57]:
sentence[33:35]

'it'

### 9. Consider the list x= [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]. How would you slice out (select) the first item? The last item? How would you slice out the items from ‘b’ to 3 inclusive?
    a) Using the same list x, write a code that prints every element on a new line
    b) Using the same list x, write a loop that prints every element of type str

In [58]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

In [62]:
# Select the first item
x[0]

1

In [66]:
# Select the last time
x[-1]

10

In [67]:
# b to 3
x[3:7]

['b', 'fast', 'slow', 3]

In [69]:
# a) Using the same list x, write a code that prints every element on a new line
for element in x:
    print(element)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

In [71]:
# b) Using the same list x, write a loop that prints every element of type str
for element in x:
    print(type(element))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

### 10. Define a function pocket_change() that takes four integers as inputs (numbers of pennies, nickels, dimes and quarters in your pocket) and returns a floating point number (their dollar value). Run your program with the input (1, 2, 3, 4) and display the output. Report the value with a dollar sign.

In [78]:
def pocket_change(pennies, nickles, dimes, quarters):
    print(pennies*0.01, nickles*0.01, round(dimes*0.10, 2), quarters*0.25)

In [79]:
pocket_change(1, 2, 3, 4)

0.01 0.02 0.3 1.0

### 11. first = 'Wilhelmina' last = 'Grubbly-Plank' Take the ‘first’ and ‘last’ variables defined in the cell above and do the following with them:
    a) Extract the first letter of ‘last’
    b) Split ‘last’ into two components at the hyphen using an appropriate method
    c) Define a new string variable named ‘combo’ which must be ‘first’ (the first name), a space, the first letter of ‘last’, and a period, in this order
    d) Define a function that takes as inputs first and last names (both strings) and returns ‘combo’ (also a string, consisting of the first name plus the first letter of the last name and a period). Test it with your own name and also the variables ‘first’ and ‘last’.

In [81]:
first = 'Wilhelmina'
last = 'Grubbly-Plank'

In [82]:
# a) Extract the first letter of ‘last’
last[0]

'G'

In [83]:
# b) Split ‘last’ into two components at the hyphen using an appropriate method
last.split("-")

['Grubbly', 'Plank']

In [87]:
# c) Define a new string variable named ‘combo’ which must be ‘first’ (the first name), 
# a space, the first letter of ‘last’, and a period, in this order
combo = first + ' ' + last[0] + '.'
combo

'Wilhelmina G.'

In [88]:
# d) Define a function that takes as inputs first and last names (both strings) 
# and returns ‘combo’ (also a string, consisting of the first name plus 
# the first letter of the last name and a period). Test it with your own name 
# and also the variables ‘first’ and ‘last’.

def name_combo(first, last):
    combo = first + ' ' + last[0] + '.'
    print(combo)

In [90]:
name_combo('Sarah', 'Kim')

Sarah K.

### 12. Write a loop that sums the integers from zero to thirty that are multiples of three: 3, 6, etc.

In [100]:
sum = 0
for number in range(0, 31):
    if number % 3 == 0:
        sum += number
print(sum)

165

### 13. Refer to the list of strings below called "paren": paren = ['When we went to town on Monday (it was so early!) everyone was falling asleep', 'It is obvious (so obvious) that I am going to get a good grade on this exam', 'As she sang her famous line (the one they wrote that article about) the crowd went wild']
    a) Loop through each item of the list and, for each item, replace the parentheses with a dash ("-") so that there is a space on either side of each dash. Print the new items.
    b) For each item in the list, print the index of each of the parentheses. Hint: try running: str.find?
    c) Create a function that removes all parenthesized content including the parentheses. This function should return a new string that has all the content in the old string except the parenthesized content.
    d) Using function created in Part C above, create a new list that contains all the elements of the old list without parenthesized content (including parentheses).

In [1]:
paren = ['When we went to town on Monday (it was so early!) everyone was falling asleep', 
         'It is obvious (so obvious) that I am going to get a good grade on this exam', 
         'As she sang her famous line (the one they wrote that article about) the crowd went wild']

In [2]:
paren

['When we went to town on Monday (it was so early!) everyone was falling asleep',
 'It is obvious (so obvious) that I am going to get a good grade on this exam',
 'As she sang her famous line (the one they wrote that article about) the crowd went wild']

In [4]:
# a) Loop through each item of the list and, for each item, 
# replace the parentheses with a dash ("-") so that there is a space on either side of each dash. 
# Print the new items.
for item in paren:
    print(item.replace('(' , '-').replace(')', '-'))

When we went to town on Monday -it was so early!- everyone was falling asleep
It is obvious -so obvious- that I am going to get a good grade on this exam
As she sang her famous line -the one they wrote that article about- the crowd went wild

In [137]:
# b) For each item in the list, print the index of each of the parentheses. 
# Hint: try running: str.find?
for item in paren:
    print (item.find('('))
    print (item.find(')'))

31
48
14
25
28
66

In [138]:
paren

['When we went to town on Monday (it was so early!) everyone was falling asleep',
 'It is obvious (so obvious) that I am going to get a good grade on this exam',
 'As she sang her famous line (the one they wrote that article about) the crowd went wild']

In [1]:
# c) Create a function that removes all parenthesized content including the parentheses. 
# This function should return a new string that has all the content in the old string except
# the parenthesized content.

def remove_parenthesized(string):
    paren_index_1 = string.find('(')
    paren_index_2 = string.find(')')
    
    result = string[:paren_index_1], string[paren_index_2 + 2:]
    return (' '.join(result))

In [2]:
test = 'When we went to town on Monday (it was so early!) everyone was falling asleep'
remove_parenthesized(test)

'When we went to town on Monday  everyone was falling asleep'

In [6]:
for sentence in paren:
    print(remove_parenthesized(sentence))

When we went to town on Monday  everyone was falling asleep
It is obvious  that I am going to get a good grade on this exam
As she sang her famous line  the crowd went wild

In [7]:
# d) Using function created in Part C above, create a new list that contains all the elements 
# of the old list without parenthesized content (including parentheses).
new_list = [remove_parenthesized(sentence) for sentence in paren]

In [8]:
new_list

['When we went to town on Monday  everyone was falling asleep',
 'It is obvious  that I am going to get a good grade on this exam',
 'As she sang her famous line  the crowd went wild']

In [9]:
for sentence in paren:
    new_sentence = remove_parenthesized(sentence)
    new_list.append(new_sentence)

In [10]:
new_list

['When we went to town on Monday  everyone was falling asleep',
 'It is obvious  that I am going to get a good grade on this exam',
 'As she sang her famous line  the crowd went wild',
 'When we went to town on Monday  everyone was falling asleep',
 'It is obvious  that I am going to get a good grade on this exam',
 'As she sang her famous line  the crowd went wild']