### 1. Describe what each of these expressions produces in basic Python. Explain the difference between very similar expressions, if any.
    a) 2+5 
    b) 2 + 5 
    c) 2*5 
    d) 2/5 
    e) 2**5

In [2]:
2+5

7

In [8]:
type(2+5)

int

2 + 5 gives an integer. And b) 2 + 5 gives the same result of integer 7.

In [4]:
25

25

In [9]:
type(25)

int

25 is an integer, which is same as a) and b).

In [5]:
2/5

0.4

In [10]:
type(2/5)

float

2/5 is a float as it has a decimal value.

In [6]:
2*5

10

In [11]:
type(2*5)

int

2*5 is an int as it does not have a decimal value.

### 2. What is the value of x after running these statements in order? Why?
    • x = 7 
    • x = x + 3

In [12]:
x = 7

In [13]:
x = x + 3

In [14]:
x

10

The new value of x is 10. First, x stores 7, then 3 is added to the x, which is 7. And <br>
the new value of 10 (7+3) is saved in the x variable.

### 3. What is the value of y after running these statements in order? Of x? Why?
    • x = 3 
    • y = x 
    • x = 10

In [15]:
x = 3

In [16]:
y = x

In [17]:
x = 10

In [18]:
x

10

In [19]:
y

3

After run these statements, x's new value is 10 because 'x = 10' was the latest statement that excuted. <br>
Meanwhile, y's value is 3, as in the second statement, x value which was 3, was assigned to y.

### 4. Does this code run without error? If so, what does it produce? If not, explain why.
    • x = 3
    • x = x/2
    • y = 'abc'
    • z = y + y
    • print(x, z)

In [20]:
x = 3

In [22]:
x = x / 2

In [23]:
y = 'abc'

In [24]:
z = y + y

In [25]:
print(x, z)

0.75 abcabc

The above statements generates x as a float 0.75, and z as a string 'abcabc'. <br>
At first, 3 was assigned then divided by 2, so x is 0.75. <br>
A string 'abc' was assigned to y, then y + y which equals to 'abc' + 'abc' was assigned to z. <br>

### 5. Does this code run without error? If so, what does it produce? If not, explain why.
    • x = 3
    • x = x/2
    • y = 'abc'
    • z = x + y
    • print(x, z)

In [26]:
x = 3

In [27]:
x = x / 2

In [28]:
y = 'abc'

In [29]:
z = x + y

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [30]:
print(x, z)

1.5 abcabc

The above statement generates an error when executing x + y for the variable z. <br>
And the following statement shows that it has a TypeError, which further explains that a float and a string cannot be added together. <br>
Therefore, the variable x stores 1.5, as 3/2 and the variable z stores 'abcabc' from the previous question 4.

### 6. Does this code run without error? If so, what does it produce? If not, explain why.
    • x = 3
    • y = 24
    • z = y/x
    • print(x, y, z, sep=' | ')

In [31]:
x = 3

In [32]:
y = 24

In [33]:
z = y / x

In [34]:
print(x, y, z, sep=' | ')

3 | 24 | 8.0

Yes, the above code run without error. 3 was assigned to x, and 24 was assigned to y. <br>
Finally, z was assigned with 24 / 3, which is equal to 8.0.

### 7. Does this code run without error? If so, what does it produce? If not, explain why.
    • x = 3
    • y = '24'
    • z = y/x
    • print(x, z)

In [35]:
x = 3

In [36]:
y = '24'

In [37]:
z = y/x

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [38]:
print(x, z)

3 8.0

The above code generates error when trying to calculate y/x. <br>
Since, y is a string not an integer, string and integer cannot be divided. <br>
Therefore, when you print x and z, it shows x value, and z value from the previous question 6.

### 8. Does this code run without error? If so, what does it produce? If not, explain why.
    • x = "I am a #string" # Whoa, a string!

In [41]:
x = "I am a #string" # Whoa, a string!

Yes, the above code run without error. In python, # in front of the statement means a comment. <br>
And also x was assigned with a string value, which is a sentence inside of " ".

### 9. Does this code run without error? If so, what does it produce? If not, explain why.
    • x = [1, 2, 3]
    • y = [42, 43]
    • z= x + y
    • print(z)

In [42]:
x = [1, 2, 3]

In [43]:
y = [42, 43]

In [44]:
z = x + y

In [45]:
print(z)

[1, 2, 3, 42, 43]

The above code run without error. x and y were both assigned with numbers as lists. <br>
Therefore, the lists of x and y were combined and assigned in z.

### 10. Does this code run without error? If so, what does it produce? If not, explain why.
    • x = [1, 2, 3]
    • y = 42
    • z = x + y

In [46]:
x = [1, 2, 3]

In [47]:
y = 42

In [48]:
z = x + y

TypeError: can only concatenate list (not "int") to list

The above code generates an error as you cannot add an integer to a list, or a list to an integer.

### 11. What data types are the following? Use type() method.
    a) x1 = 12
    b) x2 = 12.0
    c) x3 = '12.0'
    d) x4 = [12]
    e) x5 = [12, 12.0, '12.0']

In [49]:
# a)
x1 = 12
type(x1)

int

In [50]:
# b
x2 = 12.0
type(x2)

float

In [51]:
# c
x3 = '12.0'
type(x3)

str

In [52]:
# d
x4 = [12]
type(x4)

list

In [53]:
# e
x5 = [12, 12.0, '12.0']
type(x5)

list

### 12. Explain the result of each line:
    a) type(42)
    b) type(42.0)
    c) type('42.0')
    d) type("42.0")
    e) type("""42.0""")
    f) type([1, 2])
    g) type([1] + [2])
    h) type(1 + 2)
    i) type(print)
    j) type(float(str(int(‘1234’))))
    k) type(int(float(’12.34’)))
    l) len([1234])
    m) len(“1234”)
    n) len(1234)
    o) type(2>1)
    p) type(‘Itamar’ > ‘Chase’)

In [56]:
# a
type(42)

int

A number without any decimal value is an integer.

In [57]:
# b
type(42.0)

float

A number with decimal value is a float.

In [58]:
# c
type('42.0')

str

A number in quotes is a string.

In [59]:
# d
type("42.0")

str

A number in quotes, either single or double, is considered as a string.

In [61]:
# e
type("""42.0""")

str

Same as the above statement, a number inside of quotes is a string.

In [62]:
# f
type([1, 2])

list

Numbers inside of square brakets [ ], is a list

In [63]:
# g
type([1] + [2])

list

List + list generates another list, in this case, the code generates [1, 2]

In [65]:
# h
type(1 + 2)

int

In [66]:
# i
type(print)

builtin_function_or_method

print is a built-in function in Python.

In [69]:
# j
type(float(str(int('1234'))))

float

In the above code, string '1234' was converted to an integer, then to a string, then to a float at the end.

In [71]:
# k
type(int(float('12.34')))

int

In [72]:
# l
len([1234])

1

The length of the list is 1, because there are only one item in the list which is 1234.

In [75]:
# m
len("1234")

4

The length of the string is 4, as the len function counts each letter of the string.

In [77]:
# n
len(1234)

TypeError: object of type 'int' has no len()

The above code generates an error as Python does not support the length function to an integer.

In [79]:
# o
type(2>1)

bool

This code generates a boolean, as 2 > 1 will be either True or False, in this case, True.

In [82]:
# p
type('Itamar' > 'Chase')

bool

This code also generates a boolean. The string 'Itamar' has more letter than 'Chase', it will be True value.

### 13. What is the type and length of x=[]?

In [85]:
x = [ ]
len(x)

0

In [86]:
type(x)

list

The length of x will be 0, there is no item in the list. <br>
The type of x is also a list, which it has a square brakets [ ].

### 14. Consider the integer x = 1234.
    a) Convert x to a floating-point number
    b) Convert x to a string
    c) Convert x to the list [‘1’, ‘2’, ‘3’, ‘4’]

In [116]:
x = 1234

In [88]:
float(x)

1234.0

In [115]:
str(x)

'How many characters and words are in this string?'

In [117]:
x = str(x)
list(x)

['1', '2', '3', '4']

### 15. Consider x= ‘luke, i am your father’. How would you capitalize first letter of each word in x?
    • Hint: Use tab completion to find an appropriate method.

In [103]:
x = 'luke, i am your father.'

In [107]:
x.title()

'Luke, I Am Your Father.'

### 16. Consider the string x = ‘How many characters and words are in this string?’
    a) How many characters does x contain?
    b) Convert x to a list of individual characters. Hint : use an appropriate converting function.
    c) Convert x to a list of individual words. Hint: use tab completion to find a method that splits x into pieces.
    d) How many words does x contain?

In [118]:
x = 'How many characters and words are in this string?'

In [119]:
# a) How many characters does x contain?
len(x)

49

In [123]:
# b) Convert x to a list of individual characters. Hint : use an appropriate converting function.
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

In [124]:
# c) Convert x to a list of individual words. Hint: use tab completion to find a method that splits x into pieces.
list(x.split(' '))

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [125]:
# d) How many words does x contain?
len(list(x.split(' ')))

9

### 17. Does this block of code run without error? If so, what does it produce? If not, explain why.
    a) x = [1, 2, 3]
    b) y = 'bootcamp'
    c) z = x + y

In [126]:
x = [1, 2, 3]

In [127]:
y = 'bootcamp'

In [128]:
z = x + y

TypeError: can only concatenate list (not "str") to list

The above code generates an error when executing x + y because x is a list and y is a string. And a list and non-list cannot be added.